# Anker Solix Account Credentials
# WICHTIG: Nutze im besten Fall einen Zweit-Account! 
# Wenn du den gleichen Account wie in der Anker-App auf dem Handy nutzt,
# kann es zu Konflikten und Auto-Logouts kommen.

ANKERUSER=dein_username@email.com
ANKERPASSWORD=dein_super_geheimes_passwort
ANKERCOUNTRY=DE
